@import url("variables.css");

body {
  margin: 0;
  font-family:
    "Inter",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header-commun {
  background: linear-gradient(#002768, #003ba0);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 5%;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-commun p {
  color: white;
}

.header-commun a {
  color: white;
  text-decoration: none;
}

.header-commun-titres {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.header-commun-titres * {
  margin: 0px;
}

.header-commun-titres h2 {
  margin-top: 15px;
}

.header-commun-titres p {
  margin-bottom: 15px;
}

footer {
  background-color: #cae9fa;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
}

.footer-contenu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  justify-content: space-evenly;
  width: 100%;
}

footer a {
  text-decoration: none;
}

.footer-separateur {
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  width: 80%;
  margin: 40px auto 0px auto;
}

button {
  background-color: #39b54a;
  color: white;
  font-weight: bold;
  border-radius: 25px;
  padding: 12px 24px;
  transition: all 0.3s ease;
  border-style: none;
}

button:hover {
  transform: translateY(-5px);
}

#navigation {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 10px;
}

#navigation .souligne {
  border-bottom: 2px solid white;
  padding-bottom: 2px;
}

p {
  color: var(--text-color);
}

.primary-color {
  color: var(--primary-color);
}

.texte-gris {
  color: var(--text-color-grey);
}

.texte-centre {
  text-align: center;
}

@media (max-width: 768px) {
  .header-commun {
    flex-direction: column;
    padding-bottom: 20px;
  }
}