header {
    background: linear-gradient(#002768, #003ba0);
}

footer {
    background-color: #CAE9FA;
}

button {
    background-color: #39B54A;
    color: white;
    font-weight: bold;
    border-radius: 25px;
    padding: 12px 24px;
    transition: all 0.3s ease;
}

button:hover {
    transform: translateY(-5px);
}

#navigation {
    display: flex;
}